@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
header {
  position: relative;
}
header a {
  position: absolute;
  text-decoration: none;
  color: black;
  left: 10px;
  font-size: 30px;
}
@media (max-width: 1000px) {
  header a {
    font-size: 20px;
  }
}

.banniere {
  width: 100%;
}
.banniere img {
  object-fit: cover;
  width: 100%;
  max-height: 30rem;
}

.carte {
  margin: auto;
  max-width: 1300px;
  padding: 30px 20px 30px 20px;
  background-color: #f8f6f6;
  border-radius: 2rem 2rem 0 0;
  padding: 30px 0px 0px 0px;
}
.carte_title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  font-size: 18px;
  position: relative;
  background-color: #f8f6f6;
  border-radius: 2rem 2rem 0 0;
  transform: translateY(-45%);
  padding: 25px 0px 30px 0px;
  margin: -20px 0px;
}
.carte_title h1 {
  margin-top: 10px;
  padding: 0 1rem;
}
.carte_title i {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  font-size: 2rem;
  font-size: 30px;
  position: absolute;
  right: 1rem;
  top: 38px;
}
.carte_title .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: transform 300ms ease-in-out;
}
.carte_title .fas:hover {
  opacity: 1;
  transform: scale(1.12);
  cursor: pointer;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform: translateY(-18%);
  overflow: hidden;
}
@media (max-width: 1000px) {
  .menu {
    grid-template-columns: 1fr;
    transform: translateY(-6%);
  }
}
.menu_detail {
  overflow: hidden;
}
@media (max-width: 1000px) {
  .menu_detail {
    padding: 0;
  }
}
.menu_detail h2 {
  font-weight: 300;
  margin: 1rem;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
}
.menu_detail h2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  left: 0px;
  bottom: 0px;
}
.menu_detail_cards {
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 2px 4px 14px -12px #464646;
  transition: transform 500ms ease-in-out;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
}
.menu_detail_cards:hover {
  box-shadow: 2px 4px 14px -5px #000000;
}
.menu_detail_cards:hover .menu_detail_cards_validator {
  background: #99E2D0;
  margin-right: 0px;
}
.menu_detail_cards:hover .menu_detail_cards_validator_icon {
  color: white;
  animation: spin 0.7s ease-in-out;
}
.menu_detail_cards_description {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  justify-content: center;
  padding: 1rem 0rem 1rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_detail_cards_description h3, .menu_detail_cards_description h4 {
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_detail_cards_description h4 {
  padding-top: 5px;
  font-weight: 400;
}
.menu_detail_cards_price {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  margin-left: auto;
  padding: 1rem 1rem 0.8rem 1rem;
  height: 100%;
  transition-duration: 0.5s;
}
.menu_detail_cards_validator {
  background: transparent;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  height: 100%;
  margin-right: -4rem;
  transition-duration: 0.5s;
  overflow: hidden;
  flex-shrink: 0;
}
.menu_detail_cards_validator_icon {
  display: grid;
  place-items: center;
  height: 100%;
  color: transparent;
  font-size: 24px;
}

.commander {
  display: grid;
  place-content: center;
}
.commander button {
  padding: 0px 40px 0px 40px;
  transform: translateY(-70%);
}
.commander button:hover {
  transform: scale(1.02) translateY(-70%);
}

/*# sourceMappingURL=restaurants.css.map */
