@import "./utils/variables";
@import "./base/base";
@import "./components/boutons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/accueil";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/variables";

i {
    width: 50px;
    height: 50px;
    color: aquamarine;
}