@mixin page-dimensions {
    margin: auto;
    max-width: 1300px;
    padding: 30px 20px 30px 20px;
}

@mixin  button-shadow {
    box-shadow: 2px 4px 14px -9px #000000;
    &:hover {
        box-shadow: 2px 4px 14px -5px #000000;
    }
}

@mixin zoom {
    &:hover {
        transform: scale(1.02);
        opacity: 95%;
    }
}

@mixin heart-position {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 2rem;
}

@mixin heart-transition {
    color: transparent;
    background-image: linear-gradient($colorprimary,$colorsecondary);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: transform 300ms ease-in-out;
        &:hover {
            opacity: 1;
            transform: scale(1.12);
            cursor: pointer;
        }
}