@mixin page-dimensions {
    margin: auto;
    max-width: 1300px;
    padding: 30px 20px 30px 20px;
}

@mixin  button-shadow {
    box-shadow: 2px 4px 14px -9px #000000;
    &:hover {
        box-shadow: 2px 4px 14px -5px #000000;
    }
}

@mixin zoom {
    &:hover {
        transform: scale(1.02);
        opacity: 95%;
    }
}